<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VISIFLEX</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/poppers")
    <script type="text/javascript">
        function showSnackbar(message) {
            var snack = document.getElementById("snackbar");
            snack.className = snack.className + " show";
            setTimeout(function () {
                snack.className = snack.className.replace(" show", "");
            }, 3000);

            document.getElementById("snackbar-text").innerHTML = message;
        }

        function retriveResponse() {
            var response = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["response"]));

            switch (response.Type) {
                case "@VisiflexAOSTUX.Models.ResponseType.ERROR":
                    showSnackbar("Error: " + response.Message);
                    break;

                case "@VisiflexAOSTUX.Models.ResponseType.SUCCESS":
                    showSnackbar(response.Message);
                    break;
                default:
            }
        }
    </script>
</head>
@{
    VisiflexAOSTUX.Models.Session session = null;
    VisiflexAOSTUX.Models.Account account = null;
    if (ViewData["session"] != null)
    {
        session = ViewData["session"] as VisiflexAOSTUX.Models.Session;
        account = ViewData["account"] as VisiflexAOSTUX.Models.Account;
    }
}

<body>
    <header class="d-print-none" style="margin-bottom:70px;">
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VISIFLEX | AOS TUXPAN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Index", "Home")">Inicio</a>
                        </li>
                        @if (session == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" href="@Url.Action("Login", "Identity")">Iniciar sesion</a>
                            </li>
                        }
                        @if (account != null && (account.UserRol.UserLevel == 10))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" href="@Url.Action("Settings", "System")">Configuraciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="@Url.Action("Logout", "Identity", new { sessionToken = session.SessionToken })">Cerrar sesion</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="rounded" id="snackbar" style="margin-top:57px;">
        <p id="snackbar-text" style="font-weight:bold; margin-bottom: 0; filter: invert(100%); -webkit-filter: invert(100%);">Aqui va un mensaje</p>
    </div>


    <div class="container" style="margin-top:0px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">&copy; Desarrollado por Angel Jiemenez Reyes | (Snapshot ###)</small>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

<script type="text/javascript">
    retriveResponse();
</script>

</html>
