
@{
    ViewBag.Title = "Visualizacion de asuntos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<VisiflexAOSTUX.Models.LaboralTask> laboralTasks = ViewData["LaboralTasks"] as List<VisiflexAOSTUX.Models.LaboralTask>;

    VisiflexAOSTUX.Models.Session session = null;
    VisiflexAOSTUX.Models.Account account = null;
    if (ViewData["session"] != null)
    {
        session = ViewData["session"] as VisiflexAOSTUX.Models.Session;
        account = ViewData["account"] as VisiflexAOSTUX.Models.Account;
    }
}

<div class="row">
    <div class="offset-md-3">
        <h2 style="margin-bottom:32px;">@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="list-group shadow">
            <a href="#" class="list-group-item list-group-item-action active disabled">Accesos rapidos</a>
            <a href="@Url.Action("", "")" class="list-group-item list-group-item-action "><i class="bi bi-house"></i> Inicio</a>

            @if (account.UserRol.UserLevel == 5 || account.UserRol.UserLevel == 10)
            {
                <a href="@Url.Action("NewLaboralTask", "LaboralTask")" class="list-group-item list-group-item-action "><i class="bi bi-card-checklist"></i> Capturar</a>
            }
            <a href="@Url.Action("ViewByRequesterArea", "LaboralTask")" class="list-group-item list-group-item-action "><i class="bi bi-search"></i> Ver por areas solicitantes</a>
            <a href="@Url.Action("ViewByAttentionArea", "LaboralTask")" class="list-group-item list-group-item-action "><i class="bi bi-search"></i> Ver por areas de atencion</a>
        </div>
    </div>

    <div class="col-md">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">A. de Atencion</th>
                    <th scope="col">Asunto</th>
                    <th scope="col">Estatus</th>
                    <th scope="col" hidden>Avance</th>
                    <th scope="col" style="width: 150px;">F. Seguimiento</th>
                    <th scope="col" style="width: 150px;">F. Compromiso</th>
                    <th scope="col">Ir a</th>
                </tr>
            </thead>
            <tbody>
                @if (laboralTasks.Count > 0)
                {
                    for (int i = 0; i < laboralTasks.Count; i++)
                    {
                        <tr>
                            <td>@laboralTasks[i].Count</td>
                            <td>@VisiflexAOSTUX.Services.RepositoryAttentionArea.Get(laboralTasks[i].IDAttentionArea).Name</td>
                            <td>@laboralTasks[i].Subjet</td>
                            <td>@laboralTasks[i].Status</td>
                            <td hidden>@laboralTasks[i].Progress %</td>
                            <td>@VisiflexAOSTUX.Services.RepositoryLaboralTaskHistoryLog.GetLast(laboralTasks[i].IDLaboralTask).Date.ToShortDateString()</td>
                            <td>@laboralTasks[i].CommitmentDate.ToShortDateString()</td>
                            <td>
                                @if (laboralTasks[i].Status == "NO PROCEDE" || laboralTasks[i].Status == "ATENDIDO")
                                {
                                    <a class="btn btn-sm btn-outline-primary full-width" href="@Url.Action("LaboralTask", "LaboralTask", new { laboralTaskID = laboralTasks[i].IDLaboralTask })">Asunto</a>
                                }
                                else
                                {
                                    <div class="btn-group full-width" role="group" aria-label="Basic example">
                                        <a class="btn btn-sm btn-outline-primary full-width" href="@Url.Action("LaboralTask", "LaboralTask", new { laboralTaskID = laboralTasks[i].IDLaboralTask })">Asunto</a>
                                        @if (account != null)
                                        {
                                            if (laboralTasks[i].IDAccount == account.IDAccount)
                                            {
                                                <a class="btn btn-sm btn-outline-primary full-width" href="@Url.Action("HistoryLog", "LaboralTaskHistoryLog", new { laboralTaskID = laboralTasks[i].IDLaboralTask })">Seguimiento</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-sm btn-outline-dark full-width disabled" href="#">Seguimiento</a>
                                            }
                                        }
                                        else
                                        {
                                            <a class="btn btn-sm btn-outline-dark full-width disabled" href="#">Seguimiento</a>
                                        }
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">No Items detected...</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>